* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 2px;
}

/* HEADER */

.header {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #b8860b;
}
.header img {
  width: 3rem;
}
.header .logo {
  font-family: "Times New Roman", Times, serif;
  color: #800000;
  margin: 0rem 1rem;
}
