.chat-form-container {
  padding: 0px 8px;
}
.form-group {
  padding-bottom: 4px;
}
.form-control {
  width: 100%;
  min-height: 24vh;
  padding: 0.9rem 0.3rem;
  border: 1px solid #000000;
}
.send-mail-btn {
  width: 100%;
  border: 1.5px solid #000000;
  padding: 0.5rem;
  margin-top: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.send-mail-btn:hover {
  background-color: #f5f5dc;
}
.flash-message {
  width: 100%;
  border: 1px solid #008000;
  padding: 0.6rem 1rem;
  margin-bottom: 8px;
  text-align: center;
  background-color: #83ff83;
  color: #000000;
}