.card {
  width: 60%;
  min-height: 56vh;
  background-color: #f5f5dc;
  box-shadow: 0 2px 14px #aaa;
}
.advice {
  font-size: 1.65rem;
  font-weight: 800;
  font-style: italic;
  color: #800000;
  margin-top: 1rem;
  text-align: justify;
}
.counter {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}
.counter span {
  font-size: 1.3rem;
  font-weight: 700;
  color: #800000;
}
.submitBtn {
  padding: 0.75rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  text-transform: capitalize;
  border: none;
  background-color: #800000;
  transition: 0.3s;
  color: #fff;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: #570000;
}
.card div:nth-child(1) {
  display: flex;
  justify-content: end;
  align-items: center;
}
.card div:nth-child(2) {
  padding: 1rem 2rem;
}
.closeBtn, .openBtn {
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}
.closeBtn {
  background-color: #d80000;
  color: #fff;
}
.openBtn {
  background-color: #008b00;
  color: #fff;
}