.pizza {
  width: 100%;
  padding: 1rem;
  background-color: #ffcece;
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 1rem;
}
.pizza-image {
  width: 100%;
}
.pizza-details {
  padding: 0.5rem 1rem;
  line-height: 2rem;
}
.pizza-details h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e70000;
}
.pizza-details h5 {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: lowercase;
  color: #222;
}
.pizza-details p {
  font-size: 1rem;
  color: #222;
}
.pizza-details h4 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ff3e3e;
}
.btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.del-btn {
  border: none;
  background-color: #ffcece;
  color: #ff3e3e;
  font-size: 2rem;
  cursor: pointer;
}
.del-btn:hover {
  color: #e70000;
}