.food-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
}

.food-item-title {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #800000;
}
