* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* HEADER CSS */

#header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url("../images/restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  z-index: 1;
}
.navbar {
  width: 100%;
  padding: 1rem 3rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 1rem;
}
.logo {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: #dada00;
}
.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.nav-item {
  float: left;
}
.nav-link {
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 1.5rem;
  color: #dada00;
  transition: 0.3s;
}
.nav-link:hover {
  background-color: #dada00;
  color: rgba(0, 0, 0, 0.8);
}

/* MENU CSS */

#menu {
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  background-color: #f5f5dc;
}
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #ff9900;
  font-family: Arial, Helvetica, sans-serif;
}
.title span {
  border-top: 0.3rem solid #ff9900;
  border-bottom: 0.3rem solid #ff9900;
}
.itemList {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 2%;
}
.card {
  border: 1px solid #aaa;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 16px #aaa;
}
.card-header {
  width: 100%;
  height: 20rem;
}
.card-header img {
  width: 100%;
  height: 100%;
}
